<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1>Overview</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <%= link_to dashboard_path(timespan: @timespan, page: @page+1), class: "btn btn-sm btn-outline-secondary #{@page >= @max_page ? 'disabled' : ''}" do %>
        <span data-feather="skip-back"></span>
        Prev
      <% end %>
      <%= link_to dashboard_path(timespan: @timespan, page: @page-1), class: "btn btn-sm btn-outline-secondary #{@page < 1 ? 'disabled' : ''}" do %>
        Next
        <span data-feather="skip-forward"></span>
      <% end %>
    </div>
    <div class="dropdown mr-5">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
        <span data-feather="calendar"></span>
        <%= timespan_text @timespan %>
      </button>
      <div class="dropdown-menu">
        <% get_nonactive_timespans(@timespan).each do |timespan| %>
          <%= link_to dashboard_path(timespan: timespan), class: 'btn btn-sm btn-block btn-outline-secondary' do %>
            <span data-feather="calendar"></span>
            <%= timespan_text timespan %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
<h2>Net Worth</h2>
<%= area_chart_helper @bank_account_sums %>
<hr>
<%= render 'shared/dashboard_chart_incoming_outgoing' %>
<%= render 'shared/dashboard_chart_category_breakdown' %>
