<!-- TODO: pagination -->
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <% if show_category %>
        <th>Category</th>
      <% end %>
      <th>Status</th>
      <th>Amount</th>
      <th>Payee</th>
      <th>Memo</th>
      <th>Address</th>
      <th>Bank Category</th>
    </thead>
    <tbody>
      <% bank_transactions.each do |trans| %>
        <tr>
          <% if show_category %>
            <td><%= category_link_helper trans.category %></td>
          <% end %>
          <td><%= trans.status %></td>
          <td class="<%= currency_color_class trans.amount %>">
            <%= number_to_currency(trans.amount) %>
          </td>
          <td><%= trans.payee %></td>
          <td><%= trans.memo %></td>
          <td><%= trans.address %></td>
          <td><%= trans.bank_category %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
