<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <%= link_to root_path, class: 'py-2' do %>
      <%= image_tag 'logo-white.svg', class: 'nav-logo' %>
      Budget-a-tron
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'py-2 d-none d-md-inline-block logout' %>
    <% else %>
      <%= link_to 'Sign Up', new_user_session_path, class: 'py-2 d-none d-md-inline-block register' %>
      <%= link_to 'Login', new_user_session_path, class: 'py-2 d-none d-md-inline-block login' %>
    <% end %>
    <!-- <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Cart</a> -->
  </div>
</nav>
