<div class="col-md-8 p-lg-5 mx-auto my-5">
  <h2 class="text-center">Getting started checklist</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <%= howto_list_item(1, 'Create', 'account', new_user_registration_path, user_signed_in?) %>
    </li>
    <li class="list-group-item">
      <%= howto_list_resource(2, 'Create', :bank_accounts, new_bank_account_path) %>
    </li>
    <li class="list-group-item">
      <%= howto_list_resource(3, 'Create', :categories, new_category_path) %>
    </li>
    <li class="list-group-item">
      <%= howto_list_resource(4, 'Create', :category_rules, new_category_rule_path) %>
    </li>
    <li class="list-group-item">
      <% if current_user.bank_accounts.count > 0 %>
        <%= howto_list_resource(5, 'Upload', :bank_transactions, bank_account_path(current_user.bank_accounts.first, anchor: 'transactions')) %>
      <% else %>
        5. Upload bank transactions
      <% end %>
      <small>Currently only QIF format is supported</small>
    </li>
    <li class="list-group-item">6. Done!</li>
  </ul>
</div>
