<%= render partial: 'shared/dashboard_titlebar',
            locals: {
              name: @bank_account.name,
              record: @bank_account,
              edit_path: edit_bank_account_path(@bank_account),
              edit_id: 'edit_bank_account' }%>
<h2>Balance</h2>
<%= area_chart_helper @bank_account_sums, legend: false %>
<hr>
<%= render 'shared/dashboard_chart_incoming_outgoing' %>
<%= render 'shared/dashboard_chart_category_breakdown' %>
<a name="transactions">
  <h2 class='pt-5'>
    Transactions
    <span class="upload-icon" data-feather="upload" data-toggle="modal" data-target="#uploadModal"></span>
  </h2>
</a>
<div id="uploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upload Transactions QIF File</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= form_tag(bank_account_imports_create_path(@bank_account), multipart: true) do %>
          <div class="form-group">
            Select file: <%= file_field_tag :file, accept: '.qif', class: 'form-control' %>
            <%= submit_tag 'Import', class: 'btn btn-info btn-block'  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/dashboard_transactions',
           locals: {
             show_category: true
            }
%>
