<%= render partial: 'shared/dashboard_titlebar',
            locals: {
              name: @bank_account.name,
              edit_path: edit_bank_account_path(@bank_account),
              edit_id: 'edit_bank_account' }%>
<%= area_chart_helper @bank_account_sums, legend: false %>
<hr>
<h2>Category Breakdown</h2>
<%= donut_chart_helper @bank_transactions_by_category %>
<h2 class='pt-5'>Transactions</h2>
<!-- TODO: make uploading nice (probably circle-plus link to ajax uploader) -->
<%= form_tag(bank_account_imports_create_path(@bank_account), multipart: true) do %>
  <div class="form-group">
    <%= file_field_tag :file %>
    <%= submit_tag 'Import', class: 'btn-primary'  %>
  </div>
<% end %>
<%= render partial: 'shared/dashboard_transactions',
           locals: {
             bank_transactions: @bank_account.bank_transactions,
             show_category: true
            }
%>
