<%= render partial: 'shared/dashboard_titlebar',
            locals: {
              name: @category.name,
              record: @category,
              edit_path: edit_category_path(@category),
              edit_id: 'edit_category' }%>
<%= line_chart_helper @bank_transaction_sums, legend: false %>
<hr>
<%= render 'shared/dashboard_chart_incoming_outgoing' %>
<h2>
  Category Rules
  <%= link_to new_category_rule_path(category: @category), class: 'text-muted', id: 'new_category_rule' do %>
    <span class="align-middle" data-feather="plus-circle"></span>
  <% end %>
</h2>
<%= render partial: 'shared/dashboard_category_rules',
           locals: { category_rules: @category.category_rules }%>
<hr>
<h2 class='pt-5'>Transactions</h2>
<%= render partial: 'shared/dashboard_transactions',
           locals: {
             show_category: false
           }
%>
